<script setup>
defineProps({
  name: {
    type: String,
    required: true
  }
})
</script>
<template>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">{{name}}</a>
    </div>

    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</template>

<style scoped>
</style>
