<template>
    <footer class="bg-light text-center text-lg-start fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-3 bg-white">
            © 2023 Copyright:
            <a class="text-dark" href="#">Starship App</a>
        </div>
        <!-- Copyright -->
    </footer>
</template>