<script setup>
    import { useRouter } from 'vue-router';
import { thousandSeparator } from '../../helper/stringFunction';

    const router = useRouter();
    const props = defineProps({
        data: {
            type: Object,
            required: true
        }
    })
    const handleClick = () => {
        const split = props.data.url.split('/');
        const id = split[split.length - 2];
        router.push({ path: '/details', query: {id: id} })
    }
</script>

<template>
    <div class="card" style="width: 100%;" @click="handleClick">
    <img src="../../assets/img/default-item.jpg" class="card-img-top object-fit-fill" alt="item">
    <div class="card-body">
        <h5 class="card-title">{{ data.name }}</h5>
        <p>
            <table>
                <tr>
                    <td>Model</td>
                    <td>:</td>
                    <td>&nbsp;{{data.model}}</td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td>: </td>
                    <td>&nbsp;{{ thousandSeparator(data.cost_in_credits) }}</td>
                </tr>
                <tr>
                    <td>Crew</td>
                    <td>:</td>
                    <td>&nbsp;{{ thousandSeparator(data.crew) }}</td>
                </tr>
            </table>
        </p>
    </div>
    </div>
</template>