<script setup>
import StarshipService from '@/services/Starship.js';
import {thousandSeparator} from '@/helper/stringFunction.js'

import { ref } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();  
const {id} = route.query;
const data = ref(null)

const errorMsg = ref(null)
try {
    const getData = await StarshipService.findById(id);
    data.value = getData.data;
} catch (error) {
    errorMsg.value = 'Network Error!'
}

</script>

<template>
    <div class="content-wrapper p-4 mb-5">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="errorMsg">
        {{ errorMsg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h2>Starship Detail</h2>
      <section>
        <div class="container py-5">
            <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-6">
                <div class="card text-black">
                    <img src="../../assets/img/default-item.jpg" class="card-img-top" alt="Apple Computer" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">{{ data.name }}</h5>
                            <p class="text-muted mb-4">{{ data.model }}</p>
                        </div>
                        <div>
                        <div class="d-flex justify-content-between">
                            <span>Cost in credit</span><span>{{ thousandSeparator(data.cost_in_credit) }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Length</span><span>{{ thousandSeparator(data.length) }} M</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Max Atmosfer Speed</span><span>{{ thousandSeparator(data.max_atmosphering_speed) }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Crew</span><span>{{ thousandSeparator(data.crew) }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Passengers</span><span>{{ thousandSeparator(data.passengers) }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Cargo Capacity</span><span>{{ thousandSeparator(data.cargo_capacity) }} KG</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>MGLT</span><span>{{ thousandSeparator(data.MGLT) }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Consumables</span><span>{{data.consumables}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Hyperdrive Rating</span><span>{{data.hyperdrive_rating}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Starship Class</span><span>{{data.starship_class}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Manufacturer</span><span>{{data.manufacturer}}</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
</template>