@import './base.css';

#app {
  font-weight: normal;
  background-color: #f9f7f4;
}

.content-wrapper {
    height: 100%;
    min-height: 880.531px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
