<script setup>
import FooterComponent from './components/FooterComponent/FooterComponent.vue';
import NavbarComponent from './components/NavbarComponent/NavbarComponent.vue'
</script>

<template>
  <div>
    <NavbarComponent name="Starship App" />
    <Suspense>
      <router-view v-slot="{ Component }">
        <suspense timeout="0">
          <template #default>
            <component :is="Component" :key="$route.path"></component>
          </template>
          <template #fallback>
            <div class="d-flex justify-content-center loading-center">
          <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
          </template>
        </suspense>
      </router-view>
    </Suspense>
    <FooterComponent />
  </div>
</template>

<style scoped>
.loading-center {
  height: 968px;
  align-items: center;
}
</style>
