<script setup>
import SpinnerComponent from '../SpinnerComponent/SpinnerComponent.vue'
import { ref } from 'vue';

const props = defineProps({
  columns: {
    type: Array,
    required: true
  },
  data: {
    type: Array,
    required: true
  },
  loading: {
    type: Boolean,
    required: true
  },
  loadingScroll: {
    type: Boolean,
    required: true,
  }
})
const selected = ref(null);

const handleClick = (row) => {
  selected.value = row;
}
</script>

<template>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th v-for="col in props.columns" :key="col.name">{{ col.label }}</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <tr v-if="loading">
        <td class="text-center" :colspan="columns.length + 1">
          <SpinnerComponent />
        </td>
      </tr>
      <tr v-else v-for="row in props.data" :key="row.url">
        <td v-for="col in columns" :key="col.name">{{ row[col.name] }}</td>
        <td><button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#detailModal" @click="$event => handleClick(row)">Details</button></td>
      </tr>
      <tr v-if="!loading && loadingScroll">
        <td class="text-center" :colspan="columns.length + 1">
          <SpinnerComponent />
        </td>
      </tr>
      <tr v-if="!loading && props.data.length === 0">
        <td class="text-center" :colspan="columns.length + 1">
          No data
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail Starship</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table" v-if="selected">
            <tr>
              <td>Model</td>
              <td>:</td>
              <td>{{ selected.model }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>:</td>
              <td>{{ selected.name }}</td>
            </tr>
            <tr>
              <td>Starship Class</td>
              <td>:</td>
              <td>{{ selected.starship_class }}</td>
            </tr>
            <tr>
              <td>Manufacturer</td>
              <td>:</td>
              <td>{{ selected.manufacturer }}</td>
            </tr>
            <tr>
              <td>Cost in credits</td>
              <td>:</td>
              <td>{{ parseInt(selected.cost_in_credits).toLocaleString('en-US') }}</td>
            </tr>
            <tr>
              <td>Length</td>
              <td>:</td>
              <td>{{ parseInt(selected.length).toLocaleString('en-US') }}</td>
            </tr>
            <tr>
              <td>Max Atmosfering Speed</td>
              <td>:</td>
              <td>{{ parseInt(selected.max_atmosphering_speed).toLocaleString('en-US') }}</td>
            </tr>
            <tr>
              <td>Crew</td>
              <td>:</td>
              <td>{{ selected.crew }}</td>
            </tr>
            <tr>
              <td>Passengers</td>
              <td>:</td>
              <td>{{ parseInt(selected.passengers).toLocaleString('en-US') }}</td>
            </tr>
            <tr>
              <td>Cargo Capacity</td>
              <td>:</td>
              <td>{{ parseInt(selected.cargo_capacity).toLocaleString('en-US') }}</td>
            </tr>
            <tr>
              <td>Consumables</td>
              <td>:</td>
              <td>{{ selected.consumables }}</td>
            </tr>
            <tr>
              <td>Hyperdrive Rating</td>
              <td>:</td>
              <td>{{ selected.hyperdrive_rating }}</td>
            </tr>
            <tr>
              <td>MGLT</td>
              <td>:</td>
              <td>{{ parseInt(selected.MGLT).toLocaleString('en-US') }}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>