<script setup>
import CardComponent from '@/components/CardComponent/CardComponent.vue';
import StarshipService from '@/services/Starship.js';
import SpinnerComponent from '@/components/SpinnerComponent/SpinnerComponent.vue'
import { ref } from 'vue';
import { useInfiniteScroll } from '@vueuse/core'

const data = ref([])
const keyword = ref('');
const loading = ref(false);
const loadingScroll = ref(false);
const el = ref(null);
const errorMsg = ref(null)


const handleSearch = async () => {
  await getData(keyword.value)
}

const getData = async (search) => {
  try {
    const res = 
      search 
        ? await StarshipService.findByKeyword(search)
        : await StarshipService.getAll();
    data.value = res.data.results;
  
    if(keyword.value === ''){
      useInfiniteScroll(
        el,
        async () => {
          loadingScroll.value = true;
          const res = keyword.value !== ''
          ? await StarshipService.findByKeyword(keyword.value)
          : await StarshipService.getAll();
          data.value.push(...res.data.results)
          loadingScroll.value = false;
        },
        { distance: 10 }
      )
    }
  } catch (error) {
    loading.value = false;
    errorMsg.value = 'Network error!'
  }
}

await getData()

</script>

<template>
    <div class="content-wrapper p-4 mb-5">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="errorMsg">
        {{ errorMsg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h2>List Starship</h2>
      <div class="row p-4">
        <div class="col-md-6 col-12">
          <input class="form-control me-2" type="search" placeholder="Search" v-model="keyword" v-on:input="handleSearch" aria-label="Search">
        </div>
      </div>
      <div ref="el" class="p-4 m-auto overflow-y-scroll rounded" style="height: 800px;">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 p-3" v-for="row in data" :key="row">
            <CardComponent :data="row" />
          </div>
          <div class="col-lg-3 col-md-6 col-12 p-3 text-center align-self-center" v-if="loadingScroll">
            <SpinnerComponent />
          </div>
        </div>
      </div>
    </div>
</template>